body {
  background-color: rgb(43, 52, 77);
  font: 400 1.063em/1.38 'Noto Sans';
  color: rgb(242, 242, 242);
}

.igator {
  width: 100%;
  height: 51px;
  margin: 0 auto;
  background-color: rgb(242, 242, 242);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.logo {
  display: block;
  width: 173px;
  height: auto;
  margin: -7px auto 0;
  overflow: hidden;
}

.text {
  float: left;
  clear: both;
  width: 80%;
  min-height: 50px;
  margin: 29px 0 0 10%;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(242, 242, 242);
}

._button {
  display: block;
  float: left;
  width: 100%;
  height: 45px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 3px;
  background-color: rgb(156, 215, 152);
  box-shadow: -1px 2px 5px rgba(0, 0, 0, .5);
  text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
  font-size: 1.059em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  color: rgb(4, 3, 18);
}

._container {
  display: block;
  float: left;
  clear: both;
  width: 80%;
  height: 45px;
  margin: 31px 0 0 10%;
}

._text-1 {
  width: 256px;
  margin: 62px auto 0;
  border: 1px solid rgb(242, 242, 242);
  font-size: 1.059em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(242, 242, 242);
}