body {
  background-color: rgb(43, 52, 77);
  font: 400 1.063em/1.38 'Noto Sans';
  color: rgb(242, 242, 242);
}

.ad-duration {
  float: left;
  clear: both;
  width: 80%;
  margin-left: 10%;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(242, 242, 242);
}

.ad-location {
  float: left;
  width: 80%;
  margin-left: 10%;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(242, 242, 242);
}

.ad-schedule {
  float: left;
  clear: both;
  width: 80%;
  margin: 4px 0 0 10%;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(242, 242, 242);
}

.ad-location-2 p,
.ad-schedule-2 p {
  margin-bottom: 1em;
}

.buy-btn {
  display: block;
  float: left;
  width: 100%;
  height: 45px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 3px;
  background-color: rgb(156, 215, 152);
  box-shadow: -1px 2px 5px rgba(0, 0, 0, .5);
  text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
  font-style: normal;
  font-size: 1.059em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  color: rgb(4, 3, 18);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.igator {
  width: 100%;
  height: 51px;
  margin: 0 auto;
  background-color: rgb(242, 242, 242);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.logo {
  display: block;
  width: 173px;
  height: auto;
  margin: -7px auto 0;
  overflow: hidden;
}

._container {
  display: block;
  float: left;
  clear: both;
  width: 80%;
  height: 45px;
  margin: 18px 0 0 10%;
}

.ad-duration-1 {
  display: block;
  margin-top: 4px;
  border: 1px solid rgb(242, 242, 242);
  font-size: 1.059em;
}

.ad-duration-2 {
  min-height: 50px;
  margin-top: 5px;
  font-size: 1em;
}

.ad-location-1 {
  display: block;
  margin-top: 12px;
  border: 1px solid rgb(242, 242, 242);
  font-size: 1.059em;
}

.ad-location-2 {
  clear: both;
  min-height: 50px;
  margin-top: 4px;
  font-size: 1em;
}

.ad-schedule-1 {
  display: block;
  border: 1px solid rgb(242, 242, 242);
  font-size: 1.059em;
}

.ad-schedule-2 {
  min-height: 50px;
  font-size: 1em;
}

.buy-1 {
  float: left;
  clear: both;
  width: 100%;
  height: 362px;
}