body {
  background-color: rgb(43, 52, 77);
  font: 400 1.25em/1.38 'Noto Sans';
  color: rgb(0, 0, 0);
}

.domain {
  display: block;
  float: left;
  width: 100%;
  height: 46px;
  padding-left: 20px;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 3px;
  background: url('../images/select-arrows.svg') rgb(242, 242, 242);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: right center;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.file {
  float: left;
  clear: both;
  width: 100%;
}

.igator {
  float: left;
  width: 100%;
  height: 51px;
  background-color: rgb(242, 242, 242);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.kind,
.location {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  height: 46px;
  margin-top: 11px;
  padding-left: 20px;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 3px;
  background: url('../images/select-arrows.svg') rgb(242, 242, 242);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: right center;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.logo {
  display: block;
  width: 173px;
  height: 100%;
  margin: -7px auto 0;
  overflow: hidden;
}

.new-ad {
  float: left;
  clear: both;
  width: 80%;
  height: 364px;
  margin: 11px 0 0 10%;
}

.schedule {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  height: 46px;
  margin-top: 9px;
  padding-left: 20px;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 3px;
  background: url('../images/select-arrows.svg') rgb(242, 242, 242);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: right center;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  float: left;
  width: 100%;
  height: 45px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 3px;
  background-color: rgb(156, 215, 152);
  box-shadow: -1px 2px 5px rgba(0, 0, 0, .5);
  text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
  font-size: 0.9em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  color: rgb(4, 3, 18);
}

._container {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  height: 45px;
  margin-top: 15px;
  background-color: rgb(222, 222, 222);
}

.file-1 {
  display: block;
  margin-top: 11px;
  border: 1px solid rgb(242, 242, 242);
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(242, 242, 242);
}

.file-2 {
  height: 46px;
  margin-top: 1px;
  background-color: rgb(242, 242, 242);
}