.fluid-span-1 {
  width: 32.6666666667%;
}

.fluid-span-2 {
  width: 66.3333333333%;
}

.fluid-span-3 {
  width: 100%;
}

.fluid-offset-1 {
  margin-left: 33.6666666667%;
}

.fluid-offset-2 {
  margin-left: 67.3333333333%;
}

