body {
  background-color: rgb(43, 52, 77);
  font: 400 1.125em/1.38 'Noto Sans';
  color: rgb(4, 3, 18);
}

.anunciante {
  width: 80%;
  height: 381px;
  margin: 23px auto 0;
}

.email,
.password,
.phone {
  display: block;
  width: 100%;
  height: 45px;
  margin: 40px auto 0;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  box-shadow: -1px 2px 5px rgba(0, 0, 0, .5) inset;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  color: rgb(4, 3, 18);
}

.igator {
  width: 100%;
  height: 51px;
  margin: 0 auto;
  background-color: rgb(242, 242, 242);
}

.logo {
  display: block;
  width: 173px;
  height: auto;
  margin: -7px auto 0;
  overflow: hidden;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.name {
  display: block;
  width: 100%;
  height: 45px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  box-shadow: -1px 2px 5px rgba(0, 0, 0, .5) inset;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  color: rgb(4, 3, 18);
}

.registrarme {
  display: block;
  width: 100%;
  height: 45px;
  margin: 36px auto 0;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 3px;
  background-color: rgb(156, 215, 152);
  box-shadow: -1px 2px 5px rgba(0, 0, 0, .5);
  text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  color: rgb(4, 3, 18);
}