.authenty {
  font-family: 'Open Sans', sans-serif;
  background-color: #eaeaea;
}
.authenty [data-animation] {
  opacity: 0;
}
.authenty ul {
  list-style-type: none;
}
.authenty h1,
.authenty h2,
.authenty h3,
.authenty h4,
.authenty h5,
.authenty h6 {
  font-weight: 400;
}
.authenty h1 {
  font-weight: 700;
  letter-spacing: -1px;
}

.authenty h2 {
  color: #ffffff;
}
.authenty a:hover {
  text-decoration: none;
}
.authenty .btn {
  border-radius: 0;
}
.authenty .btn:active {
  box-shadow: none;
  border-radius: 0px!important;
}
.authenty .btn:focus {
  outline: thin dotted #FFFFFF;
  outline-offset: 0;
}
.authenty .btn:hover,
.authenty .btn:focus {
  color: #fff;
}
.authenty .form-control:focus {
  border-color: #ff7000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 112, 0, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 122, 0, 0.6);
  transition: border-color 0.7s, box-shadow 0.7s;
  -webkit-transition: border-color 0.7s, box-shadow 0.7s;
}
.authenty .wrap {
  width: 100%;
}
.authenty .top-buffer {
  margin-top: 20px;
}
.authenty.signin-main {
  background-color: #eaeaea;
}
.authenty.signin-main .title {
  text-align: center;
  margin-bottom: 70px;
}
.authenty.signin-main .title h1 {
  font-size: 40pt;
}
.authenty.signin-main .wrap {
  padding-top: 80px;
}
.authenty.signin-main .form-wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
}
.authenty.signin-main .form-header {
  padding: 20px 0;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-color: #ffffff;
}
.authenty.signin-main .form-header .fa-user {
  font-size: 50px;
  color: #ffffff;
  border-radius: 50%;
  border: 3px solid #E7E7E7;
  padding: 15px 20px;
  background: #f6f8f9;
  /* Old browsers */

  background: -moz-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f6f8f9), color-stop(50%, #e5ebee), color-stop(51%, #d7dee3), color-stop(100%, #f5f7f9));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  /* IE10+ */

  background: linear-gradient(135deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f8f9', endColorstr='#f5f7f9', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

}
.authenty.signin-main .form-header .fa-user.fail {
  color: #FF8479;
  border: 3px solid #FF8479;
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  -ms-transition: color 200ms linear;
  transition: color 200ms linear;
}
.authenty.signin-main .form-header .fa-user.success {
  color: #98CA4D;
  border: 3px solid #98CA4D;
  -webkit-transition: color 700ms linear;
  -moz-transition: color 700ms linear;
  -o-transition: color 700ms linear;
  -ms-transition: color 700ms linear;
  transition: color 700ms linear;
}
.authenty.signin-main .form-main {
  background-color: #505050;
  padding: 40px 50px;
}
.authenty.signin-main .form-footer {
  background-color: #404040;
  padding: 20px 50px;
}
.authenty.signin-main .form-footer a {
  color: #999999;
  font-size: 10pt;
}
.authenty.signin-main .form-footer a:hover {
  text-decoration: none;
}
.authenty.signin-main .form-footer .fa-unlock-alt {
  font-size: 10pt;
  color: #6f6f6f;
  border-radius: 50%;
  background-color: #505050;
  padding: 5px 8px;
  margin-right: 7px;
}
.authenty.signin-main .form-footer .fa-check {
  font-size: 10pt;
  color: #6f6f6f;
  border-radius: 50%;
  background-color: #505050;
  padding: 5px;
  margin-right: 7px;
}
.authenty.signin-main .signin {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FF8627;
  color: #ffffff;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.authenty.signin-main .signin:hover {
  background-color: #ff6610;
}
.authenty.signin-main input[type="text"],
.authenty.signin-main input[type="password"] {
  background-color: #404040;
  padding-left: 20px;
  border-radius: 0;
  border: none;
  margin-bottom: 10px;
  color: #cccccc;
  height: 43px;
}
.authenty.signin-main .bounceIn {
  opacity: 1;
}
.authenty.signin-main .fail {
  animation: shake .5s linear;
  -webkit-animation: shake .5s linear;
  -moz-animation: shake .5s linear;
}
@media (max-width: 991px) {
  .authenty.signin-main .wrap {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .authenty.signin-main .form-main {
    padding: 40px 30px;
  }
  .authenty.signin-main .form-footer {
    padding: 20px 30px;
  }
}
.authenty.signin-alt {
  background-color: #373746;
  color: #eaeaea;
}
.authenty.signin-alt .section-content {
  padding: 0;
}
.authenty.signin-alt .title {
  margin-bottom: 50px;
  text-align: left;
}
.authenty.signin-alt label {
  font-weight: normal;
}
.authenty.signin-alt .wrap {
  padding-top: 250px;
}
.authenty.signin-alt .bottom-wrap {
  padding-top: 30px;
  border-top: 1px solid #7A8086;
}
.authenty.signin-alt .bottom-wrap.top-buffer {
  margin-top: 130px;
}
.authenty.signin-alt .bottom-wrap.top-buffer a {
  color: #ffffff;
  -webkit-transition: color 300ms linear;
  -moz-transition: color 300ms linear;
  -o-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
}
.authenty.signin-alt .bottom-wrap.top-buffer a:hover {
  color: #ff7000;
}
.authenty.signin-alt .normal-signin .un-wrap {
  position: relative;
}
.authenty.signin-alt .normal-signin .un-wrap .fa-user {
  position: absolute;
  top: 2px;
  left: 1px;
  color: #515561;
  font-size: 14pt;
  padding: 10px 14px;
  background-color: #1C1F25;
}
.authenty.signin-alt .normal-signin .pw-wrap {
  position: relative;
}
.authenty.signin-alt .normal-signin .pw-wrap .fa-lock {
  position: absolute;
  top: 2px;
  left: 1px;
  color: #515561;
  font-size: 14pt;
  padding: 10px 16px;
  background-color: #1C1F25;
}
.authenty.signin-alt .normal-signin input[type="text"],
.authenty.signin-alt .normal-signin input[type="password"] {
  padding-left: 60px;
  border-radius: 0;
  border: 1px solid #7A8086;
  margin-bottom: 20px;
  color: #cccccc;
  background-color: #282A38;
  height: 42px;
}
.authenty.signin-alt .normal-signin .signin {
  padding: 10px 15px;
  background-color: #3e4764;
  border: 1px solid #7A8086;
  color: #ffffff;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.authenty.signin-alt .normal-signin .signin:hover {
  background-color: #1E2B46;
}
.authenty.signin-alt .horizontal-divider {
  margin: 0 auto;
  position: relative;
  width: 0px;
  top: 0;
  background-color: #ffffff;
}
.authenty.signin-alt .horizontal-divider:before {
  content: 'OR';
  position: absolute;
  top: 110px;
  left: -30px;
  padding: 20px;
  font-size: 18px;
  background: #3e4764;
  border-radius: 50%;
  color: #ffffff;
}
.authenty.signin-alt .sns-signin {
  margin-top: 94px;
}
.authenty.signin-alt .sns-signin a {
  margin-bottom: 22px;
  display: block;
  color: #ffffff;
}
.authenty.signin-alt .sns-signin a span {
  margin-left: 30px;
}
.authenty.signin-alt .sns-signin .facebook {
  background-color: #3e4764;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.authenty.signin-alt .sns-signin .facebook:hover {
  background-color: #235B97;
}
.authenty.signin-alt .sns-signin .facebook .fa-facebook {
  color: #505050;
  background-color: #eaeaea;
  padding: 15px 19px 15px 18px;
}
.authenty.signin-alt .sns-signin .google-plus {
  background-color: #e66060;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.authenty.signin-alt .sns-signin .google-plus:hover {
  background-color: #EC574B;
}
.authenty.signin-alt .sns-signin .google-plus .fa-google-plus {
  color: #505050;
  background-color: #eaeaea;
  padding: 15px;
}
@media (max-width: 991px) {
  .authenty.signin-alt .horizontal-divider:before {
    top: 10px;
    left: -30px;
    padding: 20px;
    font-size: 16px;
  }
  .authenty.signin-alt .bottom-wrap.top-buffer {
    margin-top: 50px;
  }
  .authenty.signin-alt .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.authenty.signup-window {
  background-color: #eaeaea;
}
.authenty.signup-window .title {
  text-align: left;
  color: #cccccc;
}
.authenty.signup-window .wrap {
  /*padding-top: 250px;*/
  padding-top: 50px;
}
.authenty.signup-window .form-wrap {
  background-color: #333333;
  padding: 50px 50px 100px 50px;
  position: relative;
}
.authenty.signup-window .form-wrap .fa-times-circle {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 30px;
  color: #000000;
}
.authenty.signup-window .form-control:focus {
  border: none;
  border-bottom: 1px solid #505050;
  box-shadow: 0 0 5px #cccccc;
}
.authenty.signup-window input[type="text"],
.authenty.signup-window input[type="password"],
.authenty.signup-window input[type="email"] {
  background: none;
  border: none;
  border-bottom: 1px solid #505050;
  box-shadow: none;
  padding: 10px 0 10px 10px;
  border-radius: 0;
  margin-bottom: 20px;
  color: #cccccc;
}
.authenty.signup-window .checkbox label {
  color: #505050;
  font-size: 10pt;
}
.authenty.signup-window .sns-signin {
  margin-top: 100px;
}
.authenty.signup-window .sns-signin a {
  display: block;
  text-align: left;
  border-radius: 50px;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.authenty.signup-window .sns-signin a .fa-facebook {
  color: #ffffff;
  padding: 7px 15px 7px 10px;
  font-size: 16px;
  margin-right: 20px;
  margin-left: 10px;
  border-right: 1px solid #ffffff;
}
.authenty.signup-window .horizontal-divider {
  margin: 0 auto;
  position: relative;
  width: 1px;
  height: 250px;
  background-color: #505050;
}
.authenty.signup-window .horizontal-divider:before {
  content: 'OR';
  position: absolute;
  top: 40%;
  left: -11px;
  padding: 5px 0;
  font-size: 16px;
  background: #333333;
  color: #cccccc;
}
.authenty.signup-window .normal-signup {
  margin-top: 30px;
}
.authenty.signup-window .normal-signup a {
  line-height: 2.5;
  color: #cccccc;
  -webkit-transition: color 300ms linear;
  -moz-transition: color 300ms linear;
  -o-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
}
.authenty.signup-window .normal-signup a:hover {
  color: #78b310;
}
.authenty.signup-window .normal-signup .signup {
  padding: 8px 15px;
  background-color: #78b310;
  color: #ffffff;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.authenty.signup-window .normal-signup .signup:hover {
  background-color: #5b910c;
}
@media (max-width: 767px) {
  .authenty.signup-window .title {
    margin-left: 15px;
  }
  .authenty.signup-window .form-wrap {
    padding: 30px 20px 60px 20px;
  }
  .authenty.signup-window .sns-signin {
    margin-top: 40px;
  }
  .authenty.signup-window .sns-signin a {
    font-size: 13px;
  }
  .authenty.signup-window .sns-signin a .fa-facebook {
    padding: 7px 10px 7px 10px;
    margin-right: 10px;
    margin-left: 5px;
  }
  .authenty.signup-window .horizontal-divider {
    width: 100%;
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .authenty.signup-window .horizontal-divider:before {
    content: 'OR';
    top: -11px;
    left: 46%;
    padding: 0 5px;
  }
}
.authenty.signup-wizard {
  background-color: #ede06b;
}
.authenty.signup-wizard .wrap {
  /*padding-top: 250px;*/
  padding-top: 50px;
}
.authenty.signup-wizard .form-wrap {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.authenty.signup-wizard input[type="text"],
.authenty.signup-wizard input[type="password"],
.authenty.signup-wizard input[type="email"] {
  background-color: #333333;
  border: none;
  box-shadow: none;
  padding: 10px 0 10px 10px;
  border-radius: 0;
  margin-bottom: 20px;
  color: #eaeaea;
}
.authenty.signup-wizard .form-control:focus {
  border: none;
  box-shadow: 0 0 5px #ede06b;
}
.authenty.signup-wizard .nav-step {
  margin-bottom: 10px;
}
.authenty.signup-wizard .nav-step > div > span {
  display: block;
  margin: 0 auto;
  background-color: #505050;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.authenty.signup-wizard .nav-step-label {
  text-align: center;
  margin-bottom: 20px;
}
.authenty.signup-wizard .nav-step > .active > span {
  background-color: #ffffff;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.authenty.signup-wizard .current {
  z-index: 100;
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.authenty.signup-wizard .page-container {
  padding: 60px;
  background-color: #444444;
  height: 250px;
  text-align: center;
  margin: 0;
  color: #cccccc;
}
.authenty.signup-wizard .page-footer {
  text-align: center;
}
.authenty.signup-wizard .step-confirm {
  text-align: left;
  padding: 10px;
  margin-top: 13px;
  border: 1px solid #505050;
  background-color: #333333;
}
.authenty.signup-wizard .step-confirm div {
  font-size: 13px;
  margin: 5px;
}
.authenty.signup-wizard .step-confirm div div:first-child {
  color: #999999;
}
.authenty.signup-wizard .step-wrap {
  padding: 20px;
  background-color: #444444;
}
.authenty.signup-wizard .step-wrap span {
  color: #999999;
}
.authenty.signup-wizard .btn-wrap div {
  padding: 0;
}
.authenty.signup-wizard .nav-step-btn {
  background-color: #2b2b2b;
  padding: 15px;
  color: #cccccc;
}
.authenty.signup-wizard .nav-step-btn:active {
  outline: none;
}
.authenty.signup-wizard .nav-step-btn:focus {
  outline: none;
}
.authenty.signup-wizard #prev button {
  background-color: #333333;
}
.authenty.signup-wizard .invisible {
  visibility: hidden;
}
.authenty.signup-wizard .remove {
  display: none;
}
.authenty.signup-wizard .visible {
  visibility: visible;
}
@media (max-width: 767px) {
  .authenty.signup-wizard .page-container {
    padding: 60px 30px;
  }
  .authenty.signup-wizard .step-confirm {
    padding: 5px;
    margin-top: 13px;
  }
  .authenty.signup-wizard .step-confirm div {
    margin: 5px 2px;
  }
}
.authenty.password-recovery {
  /*background-color: #e9e8da;*/
  background-color: transparent;
}
.authenty.password-recovery .wrap {
  /*padding-top: 250px;*/
  padding-top: 50px;
}
.authenty.password-recovery .form-wrap {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.authenty.password-recovery .form-control:focus {
  border: none;
  box-shadow: 0 0 5px #78b310;
}
.authenty.password-recovery input[type="email"] {
  box-shadow: none;
  padding-left: 10px;
  margin-bottom: 20px;
  height: 45px;
  color: #505050;
}
.authenty.password-recovery .brand {
  text-align: center;
  margin-top: 40px;
}
.authenty.password-recovery .brand h2 {
  font-size: 30px;
  font-weight: 700;
  /*color: #C0BFB5;*/
  color: #FFFFFF;
}
.authenty.password-recovery .brand p {
  /*color: #C0BDB0;*/
  color: #FFFFFF;
  font-size: 13px;
}
.authenty.password-recovery .main h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.authenty.password-recovery .main form {
  margin-top: 30px;
}
.authenty.password-recovery .horizontal-divider {
  margin: 0 auto;
  position: relative;
  width: 1px;
  height: 250px;
  background-color: #cccccc;
}
.authenty.password-recovery .reset {
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #78b310;
  color: #ffffff;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.authenty.password-recovery .reset:hover {
  background-color: #8cc735;
}
.authenty.password-recovery .reset:active {
  border-radius: 3px!important;
}

.authenty.password-recovery .fau-file {
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #ffffff;
  color: darkgray;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.authenty.password-recovery .fau-file:hover {
  background-color: #78b310;
  color: #ffffff;
}
.authenty.password-recovery .fau-file:active {
  border-radius: 3px!important;
}

@media (max-width: 767px) {
  .authenty.password-recovery .brand {
    text-align: right;
  }
  .authenty.password-recovery .brand h2 {
    margin-bottom: 0;
  }
  .authenty.password-recovery .main {
    margin-top: 50px;
  }
}
/* embeded animation */
@keyframes shake {
  8%,
  41% {
    transform: translateX(-10px);
  }
  25%,
  58% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-5px);
  }
  92% {
    transform: translateX(5px);
  }
  0%,
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes shake {
  8%,
  41% {
    -webkit-transform: translateX(-10px);
  }
  25%,
  58% {
    -webkit-transform: translateX(10px);
  }
  75% {
    -webkit-transform: translateX(-5px);
  }
  92% {
    -webkit-transform: translateX(5px);
  }
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes shake {
  8%,
  41% {
    -moz-transform: translateX(-10px);
  }
  25%,
  58% {
    -moz-transform: translateX(10px);
  }
  75% {
    -moz-transform: translateX(-5px);
  }
  92% {
    -moz-transform: translateX(5px);
  }
  0%,
  100% {
    -moz-transform: translateX(0);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
