/* Import Basic Files
---------------------------------------------------------------------------*/
/*@import url(http://fonts.googleapis.com/css?family=Raleway:200,400,600,700);*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);*/
/*@import url(../js/plugins/uikit/uikit.css);*/
/*@import url(font-awesome.min.css);*/
/*@import url(../js/plugins/owl-carousel/owl.carousel.css);*/
/*@import url(../js/plugins/owl-carousel/owl.theme.css);*/
/*@import url(../js/plugins/owl-carousel/owl.transitions.css);*/
/*@import url(../js/plugins/fancybox/jquery.fancybox.css);*/


/*
Template Name: Horrus
Description: Responsive HTML5 / CSS3 Coming Soon, Under Construction Template
Version: 1.0
Author: NestoLab


Notes:
    Main Color : #2b344d rgba(43, 52, 77, 1)
    Hover Color: #3d4a6e

1. General
    1.1 Main Styles
    1.2 Anchor
    1.3 iframe
2. Typography
    2.1 Headings
    2.2 Selection Color
3. Menu
    3.1 Wrapper
    3.2 Tiny Header
4. Section Title / Section Description
5. Home Section
    5.1 Wrapper
    5.2 Welcome Message
    5.3 CountDown Timer
        5.3.1 Wrapper
        5.3.2 Digit
        5.3.3 Title
        5.3.4 Separator
6. Services Section
    6.1 Wrapper
    6.2 Services Box
        6.2.1 Wrapper
        6.2.2 Icon
        6.2.3 Hover
        6.2.4 Title
        6.2.5 Description
7. Portfolio Section
    7.1 Wrapper
    7.2 Typography
    7.3 OWL Slider
        7.3.1 Wrapper
        7.3.2 Navigation
    7.4 Portfolio Item
        7.4.1 Wrapper
        7.4.2 Containt
        7.4.3 Image
        7.4.4 Overlayer
        7.4.5 Anchor
        7.4.6 Hover
8. Portfolio Modal
    8.1 Short Section Title
    8.2 Project OverView
    8.3 Project Details
        8.3.1 Wrapper
        8.3.2 Description
9. Team Section
    9.1 Wrapper
    9.2 Member Box
        9.2.1 Wrapper
        9.2.2 Image
        9.2.3 Name
        9.2.4 Title
        9.2.5 Social
        9.2.6 Hover
10. Clients Section
    10.1 Wrapper
    10.2 Quote Rotator
        10.2.1 Wrapper
        10.2.2 Containt
        10.2.3 Progress Bar
        10.2.4 Blockquote
        10.2.5 Image
11. Contact Us Section
    11.1 Wrapper
    11.2 Form
        11.2.1 Wrapper
        11.2.2 Textarea
        11.2.3 form-control
        11.2.4 Button
        11.2.5 error message
12. Map Section
    12.1 Wrapper
    12.2 Map
13. Subscribtion
    13.1 Wrapper
    13.2 Input
    13.3 Submit
    13.4 Success & Error
14. Footer Section
    14.1 Wrapper
    14.2 Anchor
    14.3 Typography
    14.4 Social Icons
15. Bootstrap New Elements
    15.1 Modal
    15.2 tooltip
    15.3 navbar
    15.4 btn
    15.5 Alert
16. Responsive
    16.1 TABLET  : 1024px
    16.2 TABLET  : 768px
    16.3 Phone   : 480px
    16.4 Phone   : 320px
*/




/* ==========================================================================
   1. General
========================================================================== */
/* 1.1 Main Styles
---------------------------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    color: #666666;
    font-weight: normal;
    background-color: #2b344d;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased !important;
    font: 14px/22px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
.browsehappy { margin: 0.2em 0; background-color: #cccccc; color: #000000; padding: 0.2em 0; }

.uppercase { text-transform: uppercase; }

/* 1.2 Anchor
---------------------------------------------------------------------------*/
a { color: #2b344d; }
a,
a > * {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
a:focus,
a:hover {
    outline: none;
    color: #3d4a6e;
    text-decoration: none;
}

/* 1.3 iframe
---------------------------------------------------------------------------*/
iframe {
    -webkit-border: 0;
       -moz-border: 0;
         -o-border: 0;
            border: 0;
}




/* ==========================================================================
   2. Typography
========================================================================== */
/* 2.1 Headings
---------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: #2b344d;
    line-height: 1.2;
    font-weight: normal;
    letter-spacing: 1px;
}

h1,
h2,
h3 {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

p { margin: 0 0 10px; }

b,
strong { font-weight: 700; }

/* 2.2 Selection Color
---------------------------------------------------------------------------*/
::selection {
    color: #ffffff;
    text-shadow: none;
    background-color: #2b344d;
}
::-webkit-selection {
    color: #ffffff;
    text-shadow: none;
    background-color: #2b344d;
}
::-moz-selection {
    color: #ffffff;
    text-shadow: none;
    background-color: #2b344d;
}




/* ==========================================================================
   3. Menu
========================================================================== */
/* 3.1 Wrapper
---------------------------------------------------------------------------*/
#nav-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    position: fixed;
    background-color: rgba(43, 52, 77, 0.9);

    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

    -webkit-border-bottom: 1px solid #22293d;
       -moz-border-bottom: 1px solid #22293d;
         -o-border-bottom: 1px solid #22293d;
            border-bottom: 1px solid #22293d;
}
#nav-wrapper:after {
    left: 0;
    top: 100%;
    content: '';
    width: 100%;
    height: 42px;
    position: absolute;
    background: url(../images/header-shadow.png) no-repeat;
    background-position: center bottom;
}

/* 3.2 Tiny Header
---------------------------------------------------------------------------*/
#nav-wrapper.tinyheader { padding: 15px 0; }




/* ==========================================================================
   4. Section Title / Section Description
========================================================================== */
.section-title {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
}
.section-title h1 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.section-desc {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-bottom: 70px;
}
.section-desc p {
    font-size: 20px;
    line-height: 30px;
}




/* ==========================================================================
   5. Home Section
========================================================================== */
/* 5.1 Wrapper
---------------------------------------------------------------------------*/
#home-section-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: relative;

    -webkit-border-bottom: 1px solid #efefef;
       -moz-border-bottom: 1px solid #efefef;
         -o-border-bottom: 1px solid #efefef;
            border-bottom: 1px solid #efefef;
}
#home-section-container {
    width: 100%;
    overflow: hidden;
    background-color: rgba(43, 52, 77, 0.7);
}
#home-wrapper {
    width: 100%;
    overflow: hidden;
    text-align: center;
    position: relative;
    /*padding: 211px 0 130px;*/
}
#home-wrapper .btn {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}

/* 5.2 Welcome Message
---------------------------------------------------------------------------*/
#welcome-msg {
    overflow: hidden;
    margin-bottom: 80px;
}
#welcome-msg h1 {
    color: #ffffff;
    font-size: 40px;
}

/* Supersized Slider
========================================================================== */
* { margin:0; padding:0; }
img { border:none; }
#supersized-loader { position:absolute; top:50%; left:50%; z-index:0; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em; background:url(../images/progress.gif) no-repeat center center;}
#supersized {  display:block; position:absolute; left:0; top:0; overflow:hidden; z-index:-1; height:1000px; width:100%; }
#supersized img { width:auto; height:auto; position:relative; display:none; outline:none; border:none; }
#supersized.speed img { -ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges; }	/*Speed*/
#supersized.quality img { -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }			/*Quality*/
#supersized li { display:block; list-style:none; z-index:-30; position:absolute; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111; }
#supersized a { width:100%; height:100%; display:block; }
#supersized li.prevslide { z-index:-20; }
#supersized li.activeslide { z-index:-10; }
#supersized li.image-loading { background:#111 url(../images/progress.gif) no-repeat center center; width:100%; height:100%; }
#supersized li.image-loading img{ visibility:hidden; }
#supersized li.prevslide img, #supersized li.activeslide img{ display:inline; }

/* 5.3 CountDown Timer
---------------------------------------------------------------------------*/
/* 5.3.1 Wrapper
---------------------------------------------------------------------------*/
#countdown_dashboard {
    max-width: 900px;
    overflow: hidden;
    margin: 0 auto 60px;
    text-align: center;
}

/* 5.3.2 Digit
---------------------------------------------------------------------------*/
.digit {
    height: 65px;
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    line-height: 65px;
    text-align: center;
    position: relative;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
}

/* 5.3.3 Title
---------------------------------------------------------------------------*/
.dash_title {
    color: #ffffff;
    display: block;
    font-size: 20px;
    margin-top: 15px;
    text-transform: uppercase;
}

/* 5.3.4 Separator
---------------------------------------------------------------------------*/
.days_dash,
.hours_dash,
.minutes_dash {
    position: relative;
    margin-bottom: 30px;
}
.days_dash:after,
.hours_dash:after,
.minutes_dash:after {
    position: absolute;
    top: 0;
    width: 1px;
    right: -15px;
    height: 100%;
    content: '';
    background-color: #ffffff;
}




/* ==========================================================================
   6. Services Section
========================================================================== */
/* 6.1 Wrapper
---------------------------------------------------------------------------*/
#services-section {
    margin: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 100px 0 79px;
    background-color: #ffffff;

    -webkit-border-bottom: 1px solid #efefef;
       -moz-border-bottom: 1px solid #efefef;
         -o-border-bottom: 1px solid #efefef;
            border-bottom: 1px solid #efefef;
}

/* 6.2 Services Box
---------------------------------------------------------------------------*/
/* 6.2.1 Wrapper
---------------------------------------------------------------------------*/
.services-box {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

/* 6.2.2 Icon
---------------------------------------------------------------------------*/
.services-icon {
    z-index: 0;
    width: 90px;
    height: 90px;
    color: #ffffff;
    font-size: 45px;
    position: relative;
    text-align: center;
    line-height: 90px;
    margin: 0 auto 25px;
    background-color: #2b344d;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;

    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.services-icon i { line-height: 90px; }

/* 6.2.3 Hover
---------------------------------------------------------------------------*/
.services-box:hover .services-icon { background-color: #3d4a6e; }

/* 6.2.4 Title
---------------------------------------------------------------------------*/
.services-title {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.services-title h3 { font-weight: 700; }

/* 6.2.5 Description
---------------------------------------------------------------------------*/
.services-desc {
    width: 100%;
    overflow: hidden;
}
.services-desc p:last-child { margin: 0; }




/* ==========================================================================
   7. Portfolio Section
========================================================================== */
/* 7.1 Wrapper
---------------------------------------------------------------------------*/
#portfolio-section-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;

    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    background-image: url(../images/background/1-1920x1200.jpg);
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
#portfolio-section-container {
    width: 100%;
    overflow: hidden;
    padding: 100px 0 98px;
    background-color: rgba(43, 52, 77, 0.9);
}

/* 7.2 Typography
---------------------------------------------------------------------------*/
#portfolio-section-wrapper h1 { color: #ffffff; }
#portfolio-section-wrapper p { color: #dedede; }

/* 7.3 OWL Slider
---------------------------------------------------------------------------*/
/* 7.3.1 Wrapper
---------------------------------------------------------------------------*/
.owl-portfolio.col-md-12 { padding: 0; }

/* 7.3.2 Navigation
---------------------------------------------------------------------------*/
.owl-theme .owl-controls .owl-page span { background-color: #ffffff; }

/* 7.4 Portfolio Item
---------------------------------------------------------------------------*/
/* 7.4.1 Wrapper
---------------------------------------------------------------------------*/
.portfolio-item {
    overflow: hidden;
    padding: 5px 20px;
    position: relative;
}
.portfolio-item:after {
    top: 0;
    left: 15px;
    content: '';
    z-index: -1;
    height: 100%;
    position: absolute;
    width: calc(100% - 30px);
    background-color: #ffffff;

    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
         -o-border-radius: 6px;
            border-radius: 6px;
}

/* 7.4.2 Containt
---------------------------------------------------------------------------*/
.portfolio-containt {
    width: 100%;
    position: relative;
}

/* 7.4.3 Image
---------------------------------------------------------------------------*/
.portfolio-containt img {
    width: 100%;

	-webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
}

/* 7.4.4 Overlayer
---------------------------------------------------------------------------*/
.portfolio-overlayer {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    position: absolute;
    background-color: rgba(43, 52, 77, 0.9);

	-webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;

    -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

/* 7.4.5 Anchor
---------------------------------------------------------------------------*/
.portfolio-overlayer a {
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 40px;
    height: 40px;
    color: #2b344d;
    font-size: 1.5em;
    margin-top: -20px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    background-color: #ffffff;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
}
.portfolio-overlayer a.link { margin-left: -45px; }
.portfolio-overlayer a.preview {
    font-size: 1.3em;
    margin-left: 5px;
    line-height: 38px;
}

/* 7.4.6 Hover
---------------------------------------------------------------------------*/
.portfolio-overlayer a:hover {
    color: #ffffff;
    background-color: #3d4a6e;
}
.portfolio-containt:hover .portfolio-overlayer { opacity: 1; }




/* ==========================================================================
   8. Portfolio Modal
========================================================================== */
/* 8.1 Short Section Title
---------------------------------------------------------------------------*/
.short-section-title {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    padding-bottom: 15px;

    -webkit-border-bottom: 1px solid #e5e5e5;
       -moz-border-bottom: 1px solid #e5e5e5;
         -o-border-bottom: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
}

/* 8.2 Project OverView
---------------------------------------------------------------------------*/
.project-OverView {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}

/* 8.3 Project Details
---------------------------------------------------------------------------*/
/* 8.3.1 Wrapper
---------------------------------------------------------------------------*/
.project-details {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

/* 8.3.2 Description
---------------------------------------------------------------------------*/
ul.project-desc {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.project-desc li {
    display: block;
    margin-bottom: 5px;
}




/* ==========================================================================
   9. Team Section
========================================================================== */
/* 9.1 Wrapper
---------------------------------------------------------------------------*/
#team-section {
    margin: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 100px 0 79px;
    background-color: #ffffff;

    -webkit-border-bottom: 1px solid #efefef;
       -moz-border-bottom: 1px solid #efefef;
         -o-border-bottom: 1px solid #efefef;
            border-bottom: 1px solid #efefef;
}

/* 9.2 Member Box
---------------------------------------------------------------------------*/
/* 9.2.1 Wrapper
---------------------------------------------------------------------------*/
.member-box-wrapper {
    width: 100%;
    overflow: hidden;
}
.member-box {
    max-width: 290px;
    text-align: center;
    position: relative;
    margin: 0 auto 30px;
    padding: 35px 20px 30px;
    background-color: #2b344d;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;

    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

/* 9.2.2 Image
---------------------------------------------------------------------------*/
.member-img {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin: 0 auto 25px;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;

    -webkit-border: 5px solid #ffffff;
       -moz-border: 5px solid #ffffff;
         -o-border: 5px solid #ffffff;
            border: 5px solid #ffffff;
}
.member-img img { width: 100%; }

/* 9.2.3 Name
---------------------------------------------------------------------------*/
.member-name h2 {
    color: #ffffff;
    margin-bottom: 15px;
}

/* 9.2.4 Title
---------------------------------------------------------------------------*/
.member-title h4 {
    color: #ffffff;
    margin-bottom: 25px;
}

/* 9.2.5 Social
---------------------------------------------------------------------------*/
.member-social ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}
.member-social ul li {
    margin: 0 5px;
    display: inline-block;
}
.member-social ul li a {
    width: 40px;
    height: 40px;
    z-index: 0;
    color: #2b344d;
    display: block;
    font-size: 1.5em;
    line-height: 40px;
    text-align: center;
    background-color: #ffffff;

	-webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
}

/* 9.2.6 Hover
---------------------------------------------------------------------------*/
.member-box:hover { background-color: #3d4a6e; }
.member-box a:hover {
    color: #ffffff;
    background-color: #2b344d;
}




/* ==========================================================================
   10. Clients Section
========================================================================== */
/* 10.1 Wrapper
---------------------------------------------------------------------------*/
#clients-section-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;

    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    background-image: url(../images/background/2-1920x1200.jpg);
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
#clients-section-container {
    width: 100%;
    padding: 100px 0;
    overflow: hidden;
    background-color: rgba(43, 52, 77, 0.9);
}
#clients-section-wrapper p { color: #dedede; }

/* 10.2 Quote Rotator
---------------------------------------------------------------------------*/
/* 10.2.1 Wrapper
---------------------------------------------------------------------------*/
.cbp-qtrotator {
    width: 100%;
	margin: 0 auto;
	max-width: 900px;
    position: relative;

    -webkit-border-bottom: 1px solid #eeeeee;
       -moz-border-bottom: 1px solid #eeeeee;
         -o-border-bottom: 1px solid #eeeeee;
            border-bottom: 1px solid #eeeeee;
}

/* 10.2.2 Containt
---------------------------------------------------------------------------*/
.cbp-qtrotator .cbp-qtcontent {
	top: 0;
    z-index: 0;
	opacity: 0;
	width: 100%;
    padding: 2em 0 0;
    position: absolute;
}
.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
	opacity: 1;
    z-index: 100;
    position: relative;
	pointer-events: auto;
}
.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
	content: " ";
	display: table;
}
.cbp-qtrotator .cbp-qtcontent:after { clear: both; }

/* 10.2.3 Progress Bar
---------------------------------------------------------------------------*/
.cbp-qtprogress {
	top: 0;
    width: 0;
    height: 1px;
	z-index: 1000;
    position: absolute;
    background-color: #eeeeee;
}

/* 10.2.4 Blockquote
---------------------------------------------------------------------------*/
.cbp-qtrotator blockquote { margin-bottom: 23px; }
.cbp-qtrotator blockquote p { line-height: 27px }
.cbp-qtrotator blockquote footer {
    color: #ffffff;
    font-size: 1.2em;
}
.cbp-qtrotator blockquote footer:before { content: '― '; }

/* 10.2.5 Image
---------------------------------------------------------------------------*/
.cbp-qtrotator .cbp-qtcontent img {
    float: right;
    width: 100px;
    height: 100px;
	margin-left: 3em;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;

    -webkit-border: 5px solid #ffffff;
       -moz-border: 5px solid #ffffff;
         -o-border: 5px solid #ffffff;
            border: 5px solid #ffffff;
}




/* ==========================================================================
   11. Contact Us Section
========================================================================== */
/* 11.1 Wrapper
---------------------------------------------------------------------------*/
#contact-section {
    margin: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 100px 0 79px;
    background-color: #ffffff;

    -webkit-border-bottom: 1px solid #efefef;
       -moz-border-bottom: 1px solid #efefef;
         -o-border-bottom: 1px solid #efefef;
            border-bottom: 1px solid #efefef;
}




/* ==========================================================================
   11.2 Form
========================================================================== */
/* 11.2.1 Wrapper
---------------------------------------------------------------------------*/
.contactForm {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    max-width: 930px;
    overflow: hidden;
}
.form-group {
    margin: 0;
    padding: 0;
}

/* 11.2.2 Textarea
---------------------------------------------------------------------------*/
.contactForm textarea {
	width: 100%;
    resize: none;
    margin: 0 auto 30px;
    height: 146px !important;
}

/* 11.2.3 form-control
---------------------------------------------------------------------------*/
.contactForm .form-control {
	width: 100%;
    height: auto;
	padding: 17px;
    margin: 0 auto 30px;
	background-color: #ffffff;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;

    -webkit-border: 2px solid #e5e5e5;
       -moz-border: 2px solid #e5e5e5;
         -o-border: 2px solid #e5e5e5;
            border: 2px solid #e5e5e5;
}
.contactForm .form-control:hover,
.contactForm .form-control:focus {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;

    -webkit-border: 2px solid #2b344d;
       -moz-border: 2px solid #2b344d;
         -o-border: 2px solid #2b344d;
            border: 2px solid #2b344d;
}

/* 11.2.4 Button
---------------------------------------------------------------------------*/
.contactForm button.submit {
    width: 100%;
    padding: 16px;
    font-size: 14px;
    line-height: 22px;
}

/* 11.2.5 error message
---------------------------------------------------------------------------*/
.error {
	top: 0;
    z-index: 2;
    float: right;
    color: #2b344d;
    position: relative;
    margin: -69px 15px 0 0;
}
:-webkit-ui-invalid:not(output) { box-shadow: none; }
   :-moz-ui-invalid:not(output) { box-shadow: none; }
    :-ms-ui-invalid:not(output) { box-shadow: none; }
     :-o-ui-invalid:not(output) { box-shadow: none; }
         ui-invalid:not(output) { box-shadow: none; }




/* ==========================================================================
   12. Map Section
========================================================================== */
/* 12.1 Wrapper
---------------------------------------------------------------------------*/
#map-section {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    display: block;
    position: relative;
}

/* 12.2 Map
---------------------------------------------------------------------------*/
#map {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    display: block;
}




/* ==========================================================================
   13. Subscribtion
========================================================================== */
/* 13.1 Wrapper
---------------------------------------------------------------------------*/
#subscribe {
    width: 435px;
    padding: 15px;
    overflow: hidden;
    position: relative;
    margin: -70px auto 0;
    background-color: #2b344d;

    -webkit-border-radius: 10px 10px 0 0;
       -moz-border-radius: 10px 10px 0 0;
         -o-border-radius: 10px 10px 0 0;
            border-radius: 10px 10px 0 0;
}

/* 13.2 Input
---------------------------------------------------------------------------*/
#subscribe .form-control {
	float: left;
    width: 300px;
    height: auto;
    outline: none;
	padding: 10px 15px;
	background-color: #ffffff;

    -webkit-border: none;
       -moz-border: none;
         -o-border: none;
            border: none;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;

    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
         -o-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
}
#subscribe .form-control:hover,
#subscribe .form-control:focus {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
}

/* 13.3 Submit
---------------------------------------------------------------------------*/
#subscribe button.submit {
    width: 105px;
    font-size: 14px;
    line-height: 22px;
    padding: 9px 16px;
    background-color: #3d4a6e;

    -webkit-border: none;
       -moz-border: none;
         -o-border: none;
            border: none;

    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
         -o-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
}
#subscribe .submit.focus,
#subscribe .submit:hover {
	color: #ffffff;
    background-color: #3d4a6e;
}

/* 13.4 Success & Error
---------------------------------------------------------------------------*/
.ssuccess,
.serror {
    top: 24px;
    right: 130px;
    color: #2b344d;
    position: absolute;
}




/* ==========================================================================
   14. Footer Section
========================================================================== */
/* 14.1 Wrapper
---------------------------------------------------------------------------*/
#footer-section {
    margin: 0;
    width: 100%;
    padding: 30px 0;
    overflow: hidden;
    position: relative;
    background-color: #2b344d;
}

/* 14.2 Anchor
---------------------------------------------------------------------------*/
#footer-section a { color: #ffffff; }

/* 14.3 Typography
---------------------------------------------------------------------------*/
#footer-section p {
    margin: 0;
    color: #ffffff;
    line-height: 30px;
}

/* 14.4 Social Icons
---------------------------------------------------------------------------*/
#footer-section #footer-social-icons ul {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    list-style: none;
    text-align: right;
}
#footer-section #footer-social-icons ul li {
    padding: 0;
    margin-left: 1px;
    display: inline-block;
}
#footer-section #footer-social-icons ul li:first-child { margin-left: 0; }
#footer-section #footer-social-icons ul li a {
    width: 30px;
    height: 30px;
    display: block;
    font-size: 16px;
    line-height: 30px;
    text-align: center;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}
#footer-section #footer-social-icons ul li a i { line-height: 30px; }

a.twitter:hover { background-color: #46C0fb; }
a.facebook:hover { background-color: #4863ae; }
a.google-plus:hover { background-color: #dd4b39; }
a.youtube-play:hover { background-color: #cc181e; }
a.pinterest:hover { background-color: #ab171e; }
a.linkedin:hover { background-color: #0083a8; }
a.skype:hover { background-color: #36c4f3; }
a.instagram:hover { background-color: #4d4f54; }




/* ==========================================================================
   15. Bootstrap New Elements
========================================================================== */
/* 15.1 Modal
========================================================================== */
.modal-body { padding-bottom: 0; }


/* 15.2 tooltip
========================================================================== */
.tooltip {
    z-index: 999;
    letter-spacing: 1px;
}


/* 15.3 navbar
========================================================================== */
.navbar {
    margin-bottom: 0;
    min-height: 40px;

    -webkit-border: 0;
       -moz-border: 0;
         -o-border: 0;
            border: 0;

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
         -o-border-radius: 0;
            border-radius: 0;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand { margin-left: 0; }
.navbar-brand {
    padding: 0;
    height: 40px;
}
.navbar-nav > li > a {
    color: #ffffff;
    padding: 10px 0;
    font-size: 15px;
    letter-spacing: 1px;
}
.navbar-nav > li {
    margin-left: 20px;
    position: relative;
}
.navbar-nav > li:first-child { margin-left: 0; }
.nav > li > a:hover,
.nav > li > a:focus { background-color: transparent; }
.navbar-nav > li:hover,
.navbar-nav > li.active {
    color: #ffffff;
}
.navbar-nav > li.active:before,
.navbar-nav > li:before {
    left: 0;
    top: -10px;
    opacity: 0;
    content: '';
    width: 100%;
    height: 3px;
    z-index: -1;
    display: block;
    position: absolute;
    background-color: #ffffff;

    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.navbar-nav > li.active:after,
.navbar-nav > li:after {
    left: 0;
    opacity: 0;
    content: '';
    width: 100%;
    height: 3px;
    z-index: -1;
    bottom: -10px;
    display: block;
    position: absolute;
    background-color: #ffffff;

    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.navbar-nav > li:hover:before,
.navbar-nav > li.active:before {
    top: 0;
    opacity: 1;
}
.navbar-nav > li:hover:after,
.navbar-nav > li.active:after {
    bottom: 0;
    opacity: 1;
}
.navbar-toggle {
    margin: 0;
    color: #ffffff;
    padding: 8px 10px;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;

    -webkit-border: 1px solid #ffffff;
       -moz-border: 1px solid #ffffff;
         -o-border: 1px solid #ffffff;
            border: 1px solid #ffffff;
}


/* 15.4 btn
========================================================================== */
.btn:focus { outline: none; }
.btn {
    -webkit-border: 2px solid transparent;
       -moz-border: 2px solid transparent;
         -o-border: 2px solid transparent;
            border: 2px solid transparent;
}
.btn:active,
.btn.active {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    text-decoration: line-through;
}

.btn-nesto:active,
.btn-nesto.active {
    background-image: none;
}

.btn.btn-nesto {
    color: #ffffff;
    letter-spacing: 1px;
    background-color: #2b344d;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;

    -webkit-border: 2px solid #ffffff;
       -moz-border: 2px solid #ffffff;
         -o-border: 2px solid #ffffff;
            border: 2px solid #ffffff;
}
.btn-nesto:hover,
.btn-nesto:focus,
.btn-nesto:active,
.btn-nesto.active {
    color: #ffffff;
    background-color: #3d4a6e;
}


/* 15.5 Alert
========================================================================== */
.alert-nesto {
    color: #ffffff;
    background-color: #2b344d;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}
#contact-section .alert.alert-nesto { margin-bottom: 30px; }
#contact-section .alert {
    -webkit-border: none;
       -moz-border: none;
         -o-border: none;
            border: none;
}




/* ==========================================================================
   16. Responsive
========================================================================== */
/* 16.1 TABLET
---------------------------------------------------------------------------*/
@media only screen and (max-width: 990px) and (min-width: 768px) {

    .member-box { max-width: 100%; }

}

/* 16.2 SMALL TABLET
---------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {

    .nav > li > a:hover,
    .nav > li > a:focus,
    .navbar-nav > li:hover,
    .navbar-nav > li.active,
    .navbar-nav > li.active a {
        color: #2b344d;
        background-color: #ffffff;
    }
    .navbar-nav > li {
        margin-left: 0;
        text-align: center;
    }
    .navbar-nav > li.active:before,
    .navbar-nav > li:before,
    .navbar-nav > li.active:after,
    .navbar-nav > li:after,
    #nav-wrapper:after {
        display: none;
    }

    #welcome-msg h1 { font-size: 34px; }

    .hours_dash:after { display: none; }

    .section-title h1 { font-size: 34px; }

    #footer-section p {
        text-align: center;
        margin-bottom: 10px;
    }
    #footer-section #footer-social-icons ul { text-align: center; }

}


/* 16.3 PHONE
---------------------------------------------------------------------------*/
@media only screen and (max-width: 599px) {

    #home-wrapper { padding: 171px 0 90px; }

    #welcome-msg h1 { font-size: 30px; }

    #map-section { height: 200px; }
    #map { height: 200px; }

}


/* 16.4 SMALL PHONE
---------------------------------------------------------------------------*/
@media only screen and (max-width: 479px) {

    .section-title h1 { font-size: 30px; }

    .member-box { margin: 0 auto 15px; }

    .cbp-qtrotator .cbp-qtcontent img { display: none; }

    #map-section { height: 300px; }
    #map { height: 300px; }

    #subscribe { width: 300px; }
    #subscribe .form-control { width: 165px; }

}