body{
    background-color: #000000;
}

img{
    
}

#imageid
{
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    width: auto \ 9;
}
#txt
{
    position:absolute;
    color: #ffffff;
}
#anuncios
{
    
}
#loadingScreen
{
    width:100%;
    height:100%;
    display:none;
}
#loadImg
{
    display:block;
    margin: auto;
    margin-top: 15%;
}