body {
  background-color: rgb(43, 52, 77);
  font: 400 1.125em/1.38 'Noto Sans';
  color: rgb(4, 3, 18);
}

.anunciante {
  width: 80%;
  height: 381px;
  margin: 75px auto 0;
}

.brand {
  width: 173px;
  min-height: 30px;
  margin: 10px auto 0;
  border: 1px solid rgb(43, 52, 77);
  border-radius: 2px;
  font: 700 1.222em/1.38 Georgia;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 1px;
  color: rgb(4, 3, 18);
}

.email,
.password,
.phone {
  display: block;
  width: 100%;
  height: 45px;
  margin: 40px auto 0;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  box-shadow: -1px 2px 5px rgba(0, 0, 0, .5) inset;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  color: rgb(4, 3, 18);
}

.igator {
  float: left;
  width: 100%;
  height: 51px;
  background-color: rgb(242, 242, 242);
}

.name {
  display: block;
  width: 100%;
  height: 45px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  box-shadow: -1px 2px 5px rgba(0, 0, 0, .5) inset;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  color: rgb(4, 3, 18);
}

.registrarme {
  display: block;
  width: 100%;
  height: 45px;
  margin: 36px auto 0;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 3px;
  background-color: rgb(156, 215, 152);
  box-shadow: -1px 2px 5px rgba(0, 0, 0, .5);
  text-shadow: -1px 1px 5px 10px rgba(0, 0, 0, 0.5);
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  color: rgb(4, 3, 18);
}